<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Categoria</h1>
    <p>
      Vestibulum consectetur sit amet nisi ut consectetur. Praesent efficitur,
      nibh vitae fringilla scelerisque, est neque faucibus quam, in iaculis
      purus libero eget mauris. Curabitur et luctus sapien, ac gravida orci.
      Aliquam erat volutpat. In hac habitasse platea dictumst. Aenean commodo,
      arcu a commodo efficitur, libero dolor mollis turpis, non posuere orci
      leo eget enim. Curabitur sit amet elementum orci, pulvinar dignissim
      urna. Morbi id ex eu ex congue laoreet. Aenean tincidunt dolor justo,
      semper pretium libero luctus nec. Ut vulputate metus accumsan leo
      imperdiet tincidunt. Phasellus nec rutrum dolor. Cras imperdiet
      sollicitudin arcu, id interdum nibh fermentum in.
    </p>
  </body>
</html>