<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="site-header" >
    <div class="text-container" style="font-size: 25px">
      <span>b</span>
      <span>o</span>
      <span>o</span>
      <span>k</span>
      <span>s</span>
      <span>t</span>
      <span>o</span>
      <span>r</span>
      <span>e</span>
    </div>
    <nav class="navMenu" style="margin-top: 20px;">
      <a routerLink="/">Home</a>
      <a routerLink="/categorias">Categorias</a>
    </nav>
  </div>
</body>
</html>

